
p.endereço {  color: red ;
              font-size: 2em;
            }


h1.titulo{   
           color:aqua ;
           font-size: 4em;    
}
h2.titulo {
           font-size: 2em;
}
.cadastro {
          color:blue;
}
.classe {
          color:red;
}


   
